---
import Page from '../layouts/base.astro';
import { text } from '../constants.ts';
---

<script is:inline>
  function ge(el) {
    let e = "dm1ubG9wQGdtYWlsLmNvbQo=bWFpbHRvOgo="
    let s = e.split("=")
    el.href = atob(s[1]) + atob(s[0])              
  }
</script>

<Page title=`${text.author}` description={text.stack + " " + text.field + ", " + text.build }>
  <div class="lg:flex min-h-screen w-full">
    <div class="relative grid lg:grid-rows-2 lg:w-3/5 xl:w-2/5 lg:pt-0 lg:pb-0">
        <div class="grid justify-items-end h-full">
          <h1 class="w-full text-gray-800 b-shadow uppercase text-5xl self-end px-2 py-20 lg:py-6 bg-yellow-300 lg:max-w-[23rem] text-center lg:text-right">
          <span class="grid">
            <span class="bg-gray-800 text-gray-100 px-2 py-4 lg:py-0 lg:mr-[-8px] max-w-[340px] mx-auto">
            { text.author }
            <span class="text-yellow-300 text-6xl capitalize contents">.</span>
            </span>
            <span>{ text.stack }</span>
            <span>{ text.field }</span></h1>
          </span>
          </div>
        <div class="grid lg:justify-items-end h-min">
          <div class="lg:flex hidden pl-10 px-4 gap-8 justify-center uppercase text-3xl font-bold py-6 bg-gray-900 text-white">
            <a class="btn-circle flex justify-center items-center transition duration-300 hover:text-pink-500" href="https://github.com/codesardine"><i class="fa-brands fa-github"></i></a>
          </div>
      </div>
    </div>
    <div class="bg-right-bottom w-full bg-[url('../bg.webp')] bg-no-repeat bg-cover min-h-[80vh]">
      <div class="grid grid-rows-2 h-full filter-opacity-40 min-h-[80vh]">
          <div class="grid h-full">
            <h2 class="intro text-white uppercase text-5xl font-bold self-end px-2 py-6 max-w-[19rem]">
              { text.build }</h2>
          </div>
        <div class="filter-opacity-50">
          <div class="grid justify-items-start">
            <div class="g-shadow gap-8 flex justify-center uppercase text-3xl font-bold pr-10 px-4 py-6 bg-gray-900 text-white">
              <a class="ml-6 btn-circle flex justify-center items-center lg:hidden transition duration-300 hover:text-pink-500" href="https://github.com/codesardine"><i class="fa-brands fa-github"></i></a>
              <a class="btn-circle flex justify-center items-center transition duration-300 hover:text-pink-500" href="https://linkedin.com/in/codesardine"><i class="fa-brands fa-linkedin-in"></i></a>
              <a href="#" onclick="ge(this)" class="btn-circle flex justify-center items-center transition duration-300 hover:text-pink-500"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</Page>

<style is:global>
  .filter-opacity-40 {
    background-color: rgba(0, 0, 0, 0.4);
  }
</style>