---
---
<div
  class="prose text-lg contents
    prose-headings:text-zinc-800
    prose-h1:font-bold prose-h1:text-xl 
    prose-p:text-zinc-700 prose-p:text-justify
    prose-a:text-zinc-800
    prose-strong:text-zinc-800
    prose-code:text-zinc-700
    prose-ul:text-zinc-700
    prose-ol:text-zinc-700
    prose-img:rounded-xl">
  <slot />
</div>