---
import Footer from '../components/footer.astro';
import Navigation from "../components/navigation.vue"
interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
const imageUrl = "../bg.webp";
const isHomePage = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
	<head>
		{isHomePage && <link rel="preload" as="image" href={imageUrl} />}
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<link rel="preload" href="https://fonts.gstatic.com/s/greatvibes/v11/va9FfP1dGxF1YQ5m8FjHj-QZgZsyMwaF8g.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Great+Vibes&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>{ title }</title>
	</head>
	<body class="min-h-screen text-gray-900 text-lato bg-[#cbc06f]">
		<Navigation client:only="vue"></Navigation>
		<main class="z-10 relative lg:min-h-100vh">
			<slot />
		</main>
		<Footer />
		</div>
	</body>
</html>

<style is:global>
.text-vibes-regular {
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	font-style: normal;
} 
.g-shadow{
box-shadow: 10px 10px 0 #cbc06f;
}
.b-shadow{
	box-shadow: -14px -14px 0 #111827;
}
.text-lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
</style>
